---
---
<div class="bg-primary text-white text-sm">
  <div class="container mx-auto px-4 py-1 flex justify-end items-center space-x-2">
    <img src="/flag.svg" alt="Drapeau du Burkina Faso" class="w-4 h-4" />
    <span>Un site officiel du Gouvernement du Burkina Faso</span>
  </div>
</div>